html, body {
    font-family: "Arial", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
  }
  
  header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  header li {
    display: inline;
    margin-right: 20px;
  }
  
  header a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
  }
  
  header a:hover,
  header a.active {
    background-color: #111;
  }

  /* main */
  .main{
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
  }

  /* Content Wrapper */
  .content-wrap {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }
  
  /* About Me Section */
  .about-me {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-me img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 20px 0;
  }
  
  .about-me h1 {
    margin-bottom: 0.5em;
    color: #333;
  }
  
  .about-me p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
  }
  
  /* Footer */
  footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px 0;
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
  }
  
  footer a {
    color: #0af;
    text-decoration: none;
  }
  
  /* Media Queries for Responsive Adjustments */
  @media (max-width: 768px) {
    header li {
      display: block;
      margin: 0;
      text-align: center;
    }
  
    header a {
      padding: 10px;
      display: block;
    }
  
    .about-me {
      width: 95%; 
    }
  
    .about-me img {
      width: 150px; 
    }
  
    .about-me p {
      font-size: 1em; 
    }
  }
  